body {
  margin:40px auto;
  max-width:650px;
  line-height:1.4;
  font:18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color:#444;
  padding:0 15px;
  /* background-color:#E7EAEE; */
}
h1,h2,h3 {
  line-height:1.2
}
*.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
  color: white;
}
td.news {
  white-space: nowrap;
  vertical-align: top;
  color: gray;
  text-align: right;
}